/* TandC */
.tandc-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
    color: #444;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
  /* Privacy */
  .privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #444;
    font-size: 1.75rem;
    margin-top: 20px;
  }
  
  h3 {
    color: #555;
    font-size: 1.5rem;
    margin-top: 15px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .privacy-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.25rem;
    }
  }

  /* Aboutus */
  .about-container {
    font-family: 'Arial', sans-serif;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* For overall contrast, adjust as needed */
  }
  
  .about-top {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    text-align: left;
  }
  
  .about-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .about-content p {
    font-size: 1.2rem;
  }
  
  .about-bottom {
    background-color: #222;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .about-bottom h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-bottom p,
  .about-bottom ul {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .about-bottom ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-bottom h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .about-content h1 {
      font-size: 2rem;
    }
  
    .about-content p {
      font-size: 1rem;
    }
  
    .about-bottom h2 {
      font-size: 1.5rem;
    }
  
    .about-bottom p,
    .about-bottom ul {
      font-size: 1rem;
    }
  }

  /* Dashboard */