.resume {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 11in;
    width: 8.5in;
    margin: 20px auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
  }

  .top-left {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: start;
    font-size: small;
  }

  .top-left .image {
    width:30%;
  }

  .top-right {
    margin-top: 10px;
    font-size: small;
    text-align: end;
    width: 40%;
  }
  
  

  .section {
    margin-bottom: 20px;
  }
  
  h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  strong {
    display: block;
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
  }
  