.resume-editor {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: blue;

}

.editor-top {
font-family: 'Muli', sans-serif;
  background: var(--body-color);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.editor-steps {
    /* padding-top: 4%; */
  width: 50%;
  background-color: red;
}

.editor-temp {
  /* padding-top: 7%; */
  height: 80%;
  background-color: aqua;
}
