.resume-editor {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: blue; */
    /* height: 50vh; */
}

.editor-top {
font-family: 'Muli', sans-serif;
  background: var(--body-color);
  /* padding: 1%; */
  margin: 0;
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  position: relative;
  background:linear-gradient(to bottom,rgb(0, 195, 255),white);
}

.editor-steps {
  /* width: 50%; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.steps {
  width: 11in;
  height:8.5in;
}

.editor-temp {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
